.Wrap {
    width: 1200px;
    margin: 0 auto;
}

.Wrap>div {
    border-bottom: 1px solid gray;
}

header {
    width: 1200px;
    margin: 0 auto;
    text-align: center;

}

nav {
    display: flex;
    position: relative;
    justify-content: center;
}

nav h1 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    font-size: 30px;
    font-weight: 700;
}

nav h1 a {
    display: block;
    padding: 10px 0;
}

nav ul {
    gap: 30px;
    display: flex;
}

nav ul li a {
    display: block;
}

nav ul {
    line-height: 50px;
}

nav>ul>ul {
    position: absolute;
    right: 100px;
}

nav ul {
    display: flex;
}

.sc01 {
    width: 1200px;
    padding: 100px 0;
    text-align: center;
}

.sc01 h2 {
    font-size: 30px;
    margin: 0 0 20px 0;
}

.sc01 p {
    font-size: 15px;
    margin: 0 0 40px 0;
}

.sc01>.inner {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    gap: 30px;
}

.sc01>.inner .box {
    flex: 1;
    background: yellow;
}

.sc02 {
    background: gray;
    width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;
}

.sc02 h2 {
    font-size: 30px;
    margin: 0 0 20px 0;
}

.sc02 p {
    font-size: 15px;
    margin: 0 0 40px 0;
}

.sc02>.inner {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    gap: 30px;
}

.sc02>.inner .box {
    flex: 1;
    background: yellow;
}


.footer {
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    padding: 100px 0;
}